// Global Imports

@import 'partials/variables',
        'partials/mixins',
        'partials/base',
        'partials/components',
        'partials/responsive';


html {
    scroll-behavior: smooth
}


// header
.container {
   @include container
}
.sections {
    @include sections   
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    @include dropdown-content
}


.dropdown:hover .dropdown-content {
    display: block;
}

// Home

.intro {
    padding-top: 60px;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
}

// Catergories
.catergories {
    font-family: 'EB Garamond', serif;
    font-size: 20px;

    h1 {
        font-size: 50px;
        text-align: center;
    }
}

.camping,
.hiking,
.hunting,
.fishing,
.climb,
.canoeing {
    @include activities
}

// Back To Top Button
#myBtn {
    @include mybtn
}

// Gallery

.body {
    background: $color-text;
    color: $color-body;
    text-align: center;
    font-size: 40px;
    padding: 15px;
    h1 {
        box-shadow: 0 8px 16px 0 $color-body, 0 6px 20px 0 $color-body;
    }
}
.grid {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);   
}

img {
    width: 185px;
    height: 225px;
    box-shadow: 0 8px 16px 0 $color-body, 0 6px 20px 0 $color-body;
    border-radius: 15px;
}

.image1 {
    grid-column: 1 / span 2;
    grid-row: span 2;
    @include image;
}

.image3 {
    grid-column: 4 / 6;
    grid-row: 2 / 4;
    @include image
}

.image16 {
    grid-column: 3 / 6;
    grid-row: 4 / 6;
    @include image
}

.image18 {
    grid-column: 1 / 3;
    grid-row: 5 / 7;
    @include image
}

.image21 {
    grid-column: 4 / 6;
    grid-row: 6 / 8;
    @include image;
}

.image24 {
    grid-column: 2 / 4;
    grid-row: 7 / 9;
    @include image;
}

.image27 {
    grid-column: 4 / 7;
    img {
        width: 100%;
    }
}