// Global Imports

@import 'partials/variables',
        'partials/mixins',
        'partials/base',
        'partials/components',
        'partials/responsive';


html {
    scroll-behavior: smooth
}


// header
.container {
   @include container
}
.sections {
    @include sections   
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    @include dropdown-content
}


.dropdown:hover .dropdown-content {
    display: block;
}

// Home

.intro {
    padding-top: 60px;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
}

// Catergories
.catergories {
    font-family: 'EB Garamond', serif;
    font-size: 20px;

    h1 {
        font-size: 50px;
        text-align: center;
    }
}

.camping,
.hiking,
.hunting,
.fishing,
.climb,
.canoeing {
    @include activities
}

// Back To Top Button
#myBtn {
    @include mybtn
}
  



