// Descriptive color variables

$white: #fff;
$black: #000;
$cal-poly-pomona-green: #2f4b26;
$slimy-green: #3e8914;
$inchworm: #9be564;
$maximum-green-yellow: #d7f75b;
$lemon-curry: #d19c1d;

// Functional color variables

$color-prim: $cal-poly-pomona-green;
$color-sec: $slimy-green;

$color-text-light: $white;
$color-text-base: $maximum-green-yellow;

$color-link-default: $inchworm;
$color-link-visited: $lemon-curry;

$color-body: $black;
$color-text: $white;