// Contact form

@media (max-width: 992px) {
  .contact100-form {
    width: 50%;
    padding: 110px 30px 55px 30px;
  }

  .contact100-more {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .contact100-form {
    width: 100%;
  }

  .contact100-more {
    display: none;
  }
}

@media (max-width: 576px) {
  .contact100-form {
    padding: 110px 15px 55px 15px;
  }
}
